* {
    box-sizing: border-box;
}

body {
    background: rgb(56,56,70);
    background: linear-gradient(90deg, rgba(56,56,70,1) 0%, rgba(15,150,237,1) 0%, rgba(78,104,213,1) 41%);
}

h1 {
    text-align: center;
    margin-top: 5vh;
    font-size: 8vw;
    color: white;
    font-family: 'Kalam', cursive;
}

.app input,  .app button {
    padding: 10px 20px;
    transition: .3s;
}

input {
    display: block;
    width: 50vw;
    height: 12vw;
    margin: auto;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 3vh;
    font-size: 4vw;
    font-weight: bold;
    color: grey;
    font-family: 'Kalam', cursive;
}

button {
    display: block;
    width: 50vw;
    height: 12vw;
    margin: auto;
    cursor: pointer;
    font-size: 4vw;
    color: grey;
    font-weight: bold;
    background-color: yellow;
    font-family: 'Kalam', cursive;
}

hr {
    height: 2px;
    width: 70%;
    margin: auto;
    margin-top: 8vh;
    background-color: white;
}

.app button:hover {
    color: forestgreen;
    border: 2px solid forestgreen;
}

.result {
    margin-top: 7vh;
    text-align: center;

}

.result h3, .result h4 {
    font-weight: normal;
}

table {
    text-align: center;
    margin: auto;
    font-family: 'Kalam', cursive;
    font-size: 5vw;
}
td {
    padding: auto;
    font-weight: bold;
}

td.searchCity {
    color: yellow;
}

td.singleResult {
    color: white;
}